.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./img/bizzabo-background.png");
  background-position: center;
  // background-size: cover;
}
